.git
.github
.idea
.vscode
.omc
.claude

dist/
.terradrift-cache/

terradrift
terradrift_*
*.exe
*.test
*.swp
*.swo

docs/
*.md
!README.md
LICENSE

.gitignore
.golangci.yml
.goreleaser.yml
magefile.go
